@import url('../fonts.css');

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --col-width: calc(100% / 12);
  --font-dark: #383838;
  --font-light: #FFFFFF;
}

.col-1 {
  width: var(--col-width);
}

.col-2 {
  width: calc(var(--col-width) * 2);
}

.col-3 {
  width: calc(var(--col-width) * 3);
}

.col-4 {
  width: calc(var(--col-width) * 4);
}

.col-5 {
  width: calc(var(--col-width) * 5);
}

.col-6 {
  width: calc(var(--col-width) * 6);
}

.col-7 {
  width: calc(var(--col-width) * 7);
}

.col-8 {
  width: calc(var(--col-width) * 8);
}

.col-9 {
  width: calc(var(--col-width) * 9);
}

.col-10 {
  width: calc(var(--col-width) * 10);
}

.col-11 {
  width: calc(var(--col-width) * 11);
}

.col-12 {
  width: calc(var(--col-width) * 12);
}

[class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
}

.svg__sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.top {
  background-image: url(../image/castelmezzano-1979546.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

.top__wrapper {
  max-width: 1440px;
  padding: 51px 104px 120px;
  margin: 0 auto;
}

.top__header {
  display: flex;
  justify-content: space-between;
}

.top__logo {
  background-image: url(../image/image-sprite.png);
  width: 205px;
  height: 40px;
  margin: 0;
}

.top__menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 340px;
  align-items: center;
  margin: 0;
}

.top__nav {
  display: flex;
  margin: 0;
}

.top__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.top__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: var(--font-light);
  padding-right: 24px;
  text-decoration: none;
  margin: 0;
}

.top__underline {
  width: 50px;
  height: 4px;
  margin: 10px 0 -10px 5px;
  background-color: #F5BD41;
  border: none;

}

.top__icon-night {
  width: 30px;
  height: 30px;
  margin: 0 24px;
}

.top__icon-account {
  height: 40px;
}

.top__title {
  margin: 0;
  max-width: 542px;
  padding: 198px 0 100px 0;
}

.top__text {
  color: var(--font-light);
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.top__form {
  width: 1230px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 120px;
}

.top__form-place,
.top__form-period {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.top__input-name {
  width: 467px;
  height: 64px;
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 22px 0 21px 24px;
  font-size: 18px;
  font-weight: 400;
  color: var(--font-dark);
  margin: 0;
}

.top__input-period {
  height: 64px;
  width: 259px;
  border-radius: 8px;
  border: 3px solid #F5BD41;
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--font-dark);
  padding: 22px 16px;
  margin-inline-start: -6px;
  margin-inline-end: -6px;
}

.top__number-people {
  width: 327px;
  height: 64px;
  margin-right: -5px;
  text-align: center;
  padding: 22px 24px 21px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: var(--font-dark);
}

.top__submit {
  width: 192px;
  height: 64px;
  border-radius: 8px;
  border: none;
  background-color: #3077C6;
  color: var(--font-light);
  padding: 20px 57px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.top__lable {
  color: var(--font-light);
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 24px 18px;
  margin: 0;
}

.top__apps {
  display: flex;
  justify-content: center;
  margin: 0 104px;
}

.top__google {
  width: 135px;
  height: 40px;
  margin-right: 8px;
}

.top__store {
  width: 120px;
  height: 40px;
  margin-left: 8px;
}

.advantages__wrapper {
  max-width: 1440px;
  background-color: var(--font-light);
  padding: 0px 104px;
  margin-bottom: 120px;
}

.advantages__text {
  font-size: 40px;
  font-weight: 500;
  color: var(--font-dark);
  text-align: center;
  padding-top: 120px;
  margin-bottom: 20px;
}

.advantages__underline {
  width: 104px;
  height: 4px;
  background-color: #F5BD41;
  text-align: center;
  margin: 0 auto 80px;
  border: none;
}

.advantages__cards {
  display: flex;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
}

.advantages__outlined {
  max-width: 100px;
  height: 100px;
  margin-bottom: 45px;
}

.advantages__description {
  font-size: 24px;
  font-weight: 400;
  color: var(--font-dark);
}

.footer {
  background-color: #10367C;

}

.footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  text-align: left;
  padding: 120px 104px 0px;
  margin-bottom: 58px;
}

.footer__item {
  list-style-type: none;
  padding-left: 0;
  color: var(--font-light);
  line-height: 46px;
  font-size: 20px;
  font-weight: 400;
}

.footer__item--bold {
  font-weight: 500;
}

.footer__item--support {
  padding-left: 126px;
}

.footer__links {
  display: none;
}

.footer__rights {
  max-width: 1440px;
  margin: 0 auto;
  text-align: left;
  padding: 0 112px 120px;
}

.footer__copyright {
  color: var(--font-light);
  font-size: 14px;
  line-height: 17px;
}

.footer__mobile {
  display: none;
}

@media (max-width: 1200px) {
  .advantages__text {
    font-size: 35px;
  }

  .advantages__outlined {
    width: 90px;
    height: 90px;
  }

  .advantages__description {
    font-size: 20px;
  }

  .footer__wrapper {
    padding: 110px 80px 0px;
    margin-bottom: 50px;
  }

  .footer__item {
    font-size: 18px;
  }

  .footer__item--support {
    padding: 0;
  }

  .footer__rights {
    padding-left: 80px;
  }
}

@media (max-width: 992px) {

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: calc(var(--col-width) * 12);
  }

  .footer__nav {
    display: none;
  }

  .advantages__wrapper {
    padding: 60px 60px 0px;
    margin-bottom: 60px;
  }

  .advantages__text {
    font-size: 30px;
    padding: 0;
  }

  .advantages__underline {
    width: 80px;
    margin-bottom: 50px;
  }

  .advantages__cards {
    flex-wrap: wrap;
  }

  .advantages__rectangles {
    margin-bottom: 40px;
  }

  .advantages__outlined {
    width: 90px;
    height: 90px;
  }

  .advantages__description {
    font-size: 18px;
  }

  .footer__wrapper {
    padding: 0px 40px 0px;
    margin: 0;
  }

  .footer__mobile {
    display: block;
    text-align: center;
    padding-top: 40px;
  }

  .footer__logo {
    background-image: url(../image/image-sprite.png);
    width: 205px;
    height: 40px;
    margin-bottom: 40px;
  }

  .footer__list {
    display: none;
  }

  .footer__links {
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 0;
    gap: 16px;
    color: var(--font-light);
    margin: 0 auto 40px;
  }

  .footer__text {
    font-size: 18px;
    color: var(--font-light);
    gap: 16px;
  }

  .footer__copyright {
    color: var(--font-light);
    font-size: 14px;
    line-height: 17px;

  }

  .footer__rights {
    text-align: center;
    padding: 0 0 40px;
  }
}

@media (max-width: 768px) {
  .footer__text {
    font-size: 16px;
  }

  .footer__wrapper {
    padding: 0;
  }

  .footer__links {
    gap: 0;
  }

  .footer__copyright {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  :root {
    --col-width: calc(100% / 6)
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: 100%;
  }

  .advantages__wrapper {
    padding: 24px 73px 0px;
    margin-bottom: 40px;
  }

  .advantages__text {
    font-size: 28px;
    padding: 0;
    margin-bottom: 32px;
  }

  .advantages__underline {
    display: none;
  }

  .advantages__cards {
    flex-direction: column;
  }

  .advantages__rectangles {
    margin-bottom: 32px;
  }

  .col-3:last-child .advantages__rectangles {
    margin-bottom: 0;
  }

  .advantages__outlined {
    margin-bottom: 12px;
  }

  .advantages__description {
    font-size: 15px;
  }

  .advantages__outlined {
    width: 70px;
    height: 70px;
  }

  .footer {
    padding: 0;
  }

  .footer__wrapper {
    padding: 40px 67px 0;
  }

  .footer__mobile {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 -8px;
  }

  .footer__logo {
    display: block;
    background-image: url(../image/logo_vector.png);
    width: 98px;
    height: 19px;
    margin-bottom: 40px;
  }

  .footer__list {
    display: none;
  }

  .footer__links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin-bottom: 32px;
  }

  .footer__text {
    font-size: 15px;
    line-height: 18px;
  }

  .footer__rights {
    padding: 0;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 14px;
  }

  .footer__rights {
    text-align: center;
    padding-bottom: 40px;
  }
}