@import url('../fonts.css');

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.svg__sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.top {
  background-image: url(../image/castelmezzano-1979546.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

.top__wrapper {
  max-width: 1440px;
  padding: 51px 104px 120px;
  margin: 0 auto;
}

.top__header {
  display: flex;
  justify-content: space-between;
}

.top__logo {
  background-image: url(../image/image-sprite.png);
  width: 205px;
  height: 40px;
  margin: 0;
}

.top__menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 340px;
  align-items: center;
  margin: 0;
}

.top__nav {
  display: flex;
  margin: 0;
}

.top__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.top__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  padding-right: 24px;
  text-decoration: none;
  margin: 0;
}

.top__underline {
  width: 50px;
  height: 4px;
  margin: 10px 0 -10px 5px;
  background-color: #F5BD41;
  border: none;

}

/*.item__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}*/

.top__icon-night {
  /*background-image: url(../image/image-sprite.png);
  ackground-position-x: 325px;
  background-position-y: 35px;*/
  width: 30px;
  height: 30px;

  margin: 0 24px;
}

.top__icon-account {
  /*background-image: url(../image/image-sprite.png);
  background-position-x: 295px;
  background-position-y: 40px;*/
  width: 40px;
  height: 40px;

}

.top__title {
  margin: 0;
  max-width: 542px;
  padding: 198px 0 100px 0;
}

.top__text {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;

  margin: 0;
}

.top__form {
  width: 1230px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 120px;
}

.top__form-place,
.top__form-period {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.top__input-name {
  width: 467px;
  height: 64px;
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 22px 0 21px 24px;
  font-size: 18px;
  font-weight: 400;
  color: #383838;
  margin: 0;
}

.top__input-period {
  height: 64px;
  width: 259px;
  border-radius: 8px;
  border: 3px solid #F5BD41;
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #383838;
  padding: 22px 16px;
  margin-inline-start: -6px;
  margin-inline-end: -6px;
}

.top__number-people {
  width: 327px;
  height: 64px;
  margin-right: -5px;
  text-align: center;
  padding: 22px 24px 21px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #383838;
}

.top__submit {
  width: 192px;
  height: 64px;
  border-radius: 8px;
  border: none;
  background-color: #3077C6;
  color: #FFFFFF;
  padding: 20px 57px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.top__lable {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 24px 18px;
  margin: 0;
}

.top__apps {
  display: flex;
  justify-content: center;
  margin: 0 104px;
}

.top__google {
  /*background-image: url(../image/image-sprite.png);
  background-position-x: 255px;*/
  width: 135px;
  height: 40px;
  margin-right: 8px;
}

.top__store {
  /*background-image: url(../image/image-sprite.png);
  background-position-x: 120px;*/
  width: 120px;
  height: 40px;
  margin-left: 8px;
}

.advantages {
  max-width: 1440px;
  background-color: #ffffff;
  margin: 0 auto 120px;
}

.advantages__wrapper {
  padding: 0px 104px;
}

.advantages__text {
  font-size: 40px;
  font-weight: 500;
  color: #383838;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 20px;
}

.advantages__underline {
  width: 104px;
  height: 4px;
  background-color: #F5BD41;
  text-align: center;
  margin: 0 auto 80px;
  border: none;
}

.advantages__cards {
  display: flex;
  gap: 16px;
  text-align: center;
}

.advantages__rectangles {
  width: 296px;
  height: 176px;
}

.advantages__outlined {
  width: 100px;
  height: 100px;
  margin-bottom: 45px;
}

.advantages__description {
  font-size: 24px;
  font-weight: 400;
  color: #383838;
}

.footer {
  background-color: #10367C;
  padding: 0 104px;
}

.footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 215px;
  text-align: left;
  padding: 120px 104px 0px;
  margin-bottom: 58px;
}

.footer__item {
  list-style-type: none;
  padding-left: 0;
  color: #FFFFFF;
  line-height: 46px;
  font-size: 20px;
  font-weight: 400;
}

.footer__item--bold {
  font-weight: 500;
}

.lists__all--support {
  padding-left: 55px;
}

.footer__rights {
  max-width: 1440px;
  margin: 0 auto;
  text-align: left;
  padding: 0 112px 120px;
}

.footer__copyright {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
}